*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/docs/
/md/
/flat_out/
flat_list.txt
flat_out.zip
layout_dump_fixed.txt
link_xmlstrings_fixed.txt
link_xmltree_fixed.txt
resources_dump_fixed.txt
window_menu.xml
window_menu3.xml
/aapt2_full_workflow/1_compile_out
/aapt2_full_workflow/2_proto_text_out
/aapt2_full_workflow/3_link_out
/aapt2_full_workflow/4_symbols_out
/aapt2_full_workflow/5_dump_out
/aapt2_full_workflow/batch_all.ps1
/aapt2_full_workflow/decode_flat_proto.py
/aapt2_full_workflow/ps1_scripts_explained.html